<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"type="text/css" href="style/main.css">
    <title>Search Books</title>
</head>
<body>
    <div class="top">
        <h1 class="heading1">My Weather App</h1>
    </div>
    <div>
        <form action="/" method="post">
            <input class="inputtext" name="book" type="text" placeholder="Enter book/author name" >
            <input class="search" type="image" src="https://tse1.mm.bing.net/th?id=OIP.i9HEqwE1-9gEH6TQiOOenwHaHa&pid=Api&rs=1&c=1&qlt=95&w=121&h=121" 
            alt="submit">
            <!-- <button type="submit" class="search" ><img src="https://tse1.mm.bing.net/th?id=OIP.i9HEqwE1-9gEH6TQiOOenwHaHa&pid=Api&rs=1&c=1&qlt=95&w=121&h=121" alt="search_image"> </button> -->
      
        </form>
            
    </div>  
    
</body>
</html>